<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">

{% include _browser-upgrade.html %}

<div class="container">
  {% include _navigation.html %}
  <div class="row">
    <div class="col-md-1">
      <img src="{{site.url}}/images/RenzeDeVriesOberaSoftwareSmall.jpg"/>
    </div>
    <div class="col-md-11">
      {{ content }}
    </div>
  </div>

  {% include _footer.html %}
</div>





{% include _scripts.html %}

</body>
</html>
