<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">

{% include _browser-upgrade.html %}

<div class="container">
  {% include _navigation.html %}
  <div class="row">
    {% if page.group != null %}
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">{{page.title}}</div>
          <div class="panel-body">
            <ul class="list-group">
            {% assign links = site.pages %}
            {% for node in links %}
                {% if page.url != node.url %}
                  {% if page.group != null and node.group != null and page.group == node.group %}
                    <li class="list-group-item"><a href="{{ site.url }}{{node.url}}">{{node.title}}</a></li>
                  {% endif %}
                {% endif %}
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        {{ content }}
      </div>
    {% else %}
      <div class="col-md-12">
        {{ content }}
      </div>
    {% endif %}
      {% if site.disqus_shortname and page.comments %}
        <section id="disqus_thread"></section><!-- /#disqus_thread -->
      {% endif %}
  </div>

  {% include _footer.html %}
</div>





{% include _scripts.html %}

</body>
</html>
